1.写入数据

In [6]:
import os 
os.makedirs(os.path.join('.','data'),exist_ok = True)
data_file = os.path.join('.','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('numrooms,alley,price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,1781000\n')
    f.write('NA,NA,14000\n')

2.利用markdown进行读取

In [7]:
import pandas as pd
data = pd.read_csv(data_file)
data

   numrooms alley    price
0       NaN  Pave   127500
1       2.0   NaN   106000
2       4.0   NaN  1781000
3       NaN   NaN    14000

In [11]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
inputs = inputs.fillna(inputs.mean())
print(inputs)

   numrooms alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

C:\Users\24268\AppData\Local\Temp\ipykernel_25424\3506884636.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  inputs = inputs.fillna(inputs.mean())

In [12]:
inputs = pd.get_dummies(inputs,dummy_na =True)
print(inputs)

   numrooms  alley_Pave  alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [16]:
import torch 
x,y = torch.tensor(inputs.values),torch.tensor(outputs.values)
x,y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([ 127500,  106000, 1781000,   14000]))